[Desktop Entry]
Exec=dbus-run-session -- /bin/bash -c "cd /home/valer/Desktop/PWUE/Arduino/lcd-system-monitor/server && /usr/bin/cargo run --release"
Name=LCD System Monitor
Type=Application
StartupNotify=true
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
